* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(image/signupbg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(0.4px);
}

.signin-form, .signup-form {
  width: 550px;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
  color: #fff;
}

.signup-form th {
  display: flex;
  
}

.signup-form p{
  position: absolute;
  bottom:500px;
  padding-left: 45px;
}



.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #e50914;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #f40612;
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.input-group.success input {
  border: 2px solid #0cc477;
}

.input-group.error input {
  border: 2px solid #f40612;
}

.input-group .error {
  color: #f40612;
  font-size: 14px;
  margin-top: 4px;
  min-height: 18px;
}
.btn{
color: #e50914;
text-decoration: none;
display: inline-block;
background: #e50914;
color: #fff;
font-weight: bold;
padding: 3px;
border-radius: 5px;
cursor: pointer;
font-size: 15px;
}

.signup-link a{
color: #e50914;
text-decoration: none;
display: inline-block;
background: #e50914;
color: #fff;
font-weight: bold;
padding: 3px;
border-radius: 5px;
cursor: pointer;
font-size: 15px;
}